<div ng-mouseover="cp.mouseover = true "
        ng-mouseleave="cp.mouseover = false"
        ng-controller="SingleFileController as c">

    <div class="form-group input-group no-margin-border-padding" ng-show="!cp.editing && cp.data.content[cp.data.name] == null && cp.data.can_edit">
        <span class="form-control form-control-inactive size-text-box-auto padding-left-xsmall">
            <span class="btn btn-success btn-outline fa fa-upload" ng-click="cp.enterEditMode()"></span>
        </span>
    </div>

    <div class="form-group input-group no-margin-border-padding" ng-show="(!cp.mouseover&&!cp.editing && cp.data.content[cp.data.name]!=null) || (cp.mouseover && cp.data.content[cp.data.name]!=null) && !cp.data.can_edit">
        <span class="form-control form-control-inactive glowing-border size-text-box-auto padding-left-xsmall">
            <a target="_self" href="{{'FileService/' + cp.data.content.ContentType + '/' + cp.data.content.tiny_guid + '/'+ cp.data.name }}">
                <u>{{cp.data.content[cp.data.name].filename}}</u>
            </a>
        </span>
        <span class="input-group-addon btn btn-outline btn-warning glowing-border form-control-inactive"><i class="fa fa-pencil form-control-inactive"></i></span>
        <span class="input-group-addon btn btn-outline btn-danger glowing-border form-control-inactive"><i class="fa fa-trash form-control-inactive"></i></span>
    </div>

    <div class="form-group input-group no-margin-border-padding" ng-show="cp.mouseover&&!cp.editing && cp.data.content[cp.data.name]!=null && cp.data.can_edit">
        <span class="form-control form-control-active glowing-border size-text-box-auto padding-left-xsmall">
            <a target="_self" href="{{'FileService/' + cp.data.content.ContentType + '/' + cp.data.content.tiny_guid + '/'+ cp.data.name }}">
                <u>{{cp.data.content[cp.data.name].filename}}</u>
            </a>
        </span>
        <span class="input-group-addon btn btn-outline btn-warning glowing-border form-control-active" ng-click="cp.enterEditMode()" translate><i class="fa fa-pencil form-control-active"></i></span>
        <span class="input-group-addon btn btn-outline btn-danger glowing-border form-control-active" ng-click="c.remove()"><i class="fa fa-trash form-control-active"></i></span>
    </div>

    <div class="form-group input-group no-margin-border-padding"
            ng-show="cp.editing" ng-disabled="cp.posting"
            ng-init="c.init(cp)">
        <span class="form-control form-control-active glowing-border size-text-box-auto padding-left-xsmall">

            <input mystery-single-file-input
                   class="file"
                   drop-zone-title-class="upload-drop-zone"
                   type="file" multiple data-min-file-count="1">

        </span>
        <span class="input-group-addon btn btn-outline btn-danger glowing-border form-control-active" ng-click="cp.exitEditMode()" translate><i class="fa fa-times form-control-active"></i></span>
    </div>
</div>
