<div class="form-group input-group "
     ng-disabled="cp.posting"
     ng-controller="SingleReferenceController as c"
     ng-init="c.init(cp)">

    <span class="form-control ">
        <input type="text" ng-model="c.selected_content" ng-show="!c.selected"
               uib-typeahead="item as item.ReferenceText  for item in c.avalible|filter:{ReferenceText:$viewValue}| limitTo:8"
               typeahead-template-url="MysteryWebContent/MysteryContent/Properties/contentSelectionTemplate.html"
               typeahead-on-select="c.onSelect($item, $model, $label)"
               typeahead-editable="false"
               ui-keyup="{esc: 'c.cancelSelection()', enter: 'c.confirmSelection()'}"
               class="no-margin-border-padding no-outline">
    </span>

    <span class="input-group-addon btn btn-outline btn-default " title="{{'COMMON.DELETE'|translate}}"
          ng-show="!c.selected"
          ng-click="c.removeSelection()">
        <i class="fa fa-trash"></i>
    </span>


    <span class="input-group-addon btn btn-outline btn-danger " title="{{'COMMON.CANCEL'|translate}}"
          ng-show="!c.selected"
          ng-click="c.cancelSelection()">
        <i class="fa fa-times"></i>
    </span>
</div>

